html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: verdana;
}
.close {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.main {
  text-align: center;
}

.main h2{
  color: #6EADE6;
  font-weight: thin;
}

.main p {
  color: #8B9CAB;
}

input[type=submit] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #69AEE7;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  padding: 12px;
}