html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.float h4{
  float: left;
  width: 75%;
  margin: auto;
}

.float p{
  float: left;
  width: 75%;
  margin: auto;
}

.float img {
  float: left;
  width: 25%;
  padding-left: 10px;
}