html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#large-float {
  float: left;
  width: 50%;
}

.small-float {
  float:left;
}

.small-float img {
  width: 15px;
}

.small-float p {
  font-size: 12px;
}